#root {
  height: 100%;
  font-family: "Montserrat";
}

:root {
  --main-color: rgba(133, 203, 51, 0.7);
  --green-color: #85cb33;
  --green-color-hover: #7cbd2f;
  --green-color-active: #76b42e;
  --error: #ff3d3d;
  
  --white-color: #fff;
  --root-font-family: "Montserrat";
  --color-black: #000000;
  --font-size-icon-text: 16px;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.image4registration {
  width: 100%;
  justify-self: center;
  align-self: center;
  max-width: 547px;
}
@media (max-width: 943px) {
  .image4registration {
    display: none;
  }
  .image4signin {
    display: none;
  }
}
.validation {
  color: #c407a8;
  display: block;
  height: 20px;
}

.formValidIcon {
  position: absolute;
  right: 30px;
  top: 15px;
  font-size: 1.7rem;
  color: #ff3d3d;
}
.image_cadr{
  margin-top: 6px;
  margin-left: 10px;
}

.image4signin {
  width: 90%;
  justify-self: center;
  align-self: center;
  max-width: 547px;
  margin: auto;
}

.razdel{
  width: 85%; margin: 10px 7% 0 7%;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");

:root {
  --gray: #555;
  --purple: #4e65ff;
  --green-blue: #92effd;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation .user-box .username>a{
  text-decoration: none;
  color: #555555;
  margin-top: 7px;
 }

.navigation {
  position: fixed;
  top: 33px;
  right: 20px;
  width: 120px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  background: var(--white);
  box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: height 0.5s,width 0.5s ;
  transition-delay: 0s, 0.75s;
  z-index: 100;
}
.ReactModal__Overlay.ReactModal__Overlay--after-open{
  z-index: 1000
}

.navigation .user-box {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
  transition-delay: 0.3s;
}

.navigation .user-box .username {
  font-size: 1.2rem;
  white-space: nowrap;
  color: var(--gray);
  display: flex;
      flex-direction: column;
}
.image_plus{margin-left: auto;}

.image-box {
  position: relative;
  min-width: 60px;
  height: 60px;
  background: var(--white);
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid var(--white);
}

 .image-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation .profileMenu-toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navigation .profileMenu-toggle::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 2px;
  background: var(--gray);
  transform: translateY(-10px);
  box-shadow: 0 10px var(--gray);
  transition: 0.5s;
}


.navigation .profileMenu-toggle::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 2px;
  background: var(--gray);
  transform: translateY(10px);
  transition: 0.5s;
}

.profileMenu {
  position: absolute;
  width: 100%;
  height: calc(100% - 60px);
  margin-top: 50px;
  padding: 20px;
  
  
}

.profileMenu li {
  list-style: none;
}

.profileMenu li a {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
  font-size: 1rem;
  text-decoration: none;
  color: var(--gray);
}

.profileMenu li a ion-icon {
  font-size: 1.5rem;
}

.profileMenu li a:hover {
  color: var(--purple);
}

.navigation.active .profileMenu-toggle::before {
  transform: translateY(0px) rotate(45deg);
  box-shadow: none;
}

.navigation.active .profileMenu-toggle::after {
  transform: translateY(0px) rotate(-45deg);
}

.navigation.active {
  width: 300px;
  height: 300px;
  transition:width 0.5s, height 0.5s ;
      transition-delay: 0s, 0.75s;
  
}

@media (max-width: 1080px) {
   .user-box.active {
    transition:0.8s;
    transition-delay: 0.8s;
    width: 140px;
    height: 140px;
    
    
   
   
  }
  .image-box.active{
    transition:0.8s;
    transition-delay: 0.8s;
   
    position: relative;
    width: 140px;
    height: 140px;
    display: flex;
    overflow: hidden;
  
    align-items: center;
    justify-content: center;
    border: 10px solid var(--white);
    margin-right: 20px;
    
    
 
   
}
    .navigation.active{
      height: 100%;
      width: 100%;
      transition:width 0.5s, height 0.5s ;
      transition-delay: 0s, 0.75s;
     
    }
    .navigation{
      top:0px;
      right: 0px;
     }
     .username{
      display: flex;
      flex-direction: column;
      font-size: 36px;
      margin-right: 10px;
      transition:1s;
      transition-delay: 0.8s;
     }
     
     .navigation .user-box {
     
      display: flex;
      
      align-items: center;
     
   
     }
     .navigation .user-box .username{
      font-size: 30px;
     }
     .navigation .user-box .username>a{
      text-decoration: none;
      color: #555555;
      margin-top: 7px;
     }
   .profileMenu{
    margin-top: 100px;
   }
   
   
     .profileMenu>li{
      border: 4px solid #85CB33;
border-radius: 28px;
margin-top: 32px;
display: flex;
justify-content: center;
font-size: 20px;

     }
     .profileMenu>li:last-child{
      display: none;
     }
     .profileMenu>li>a{
      
text-align: center;
font-size: 36px;
     }
   
  
    }
    @media (max-width: 580px){
      .profileMenu>li>a{
       
  font-size: 30px;
       }
      
    }

   
.navigation.active .user-box {
  width: calc(100% - 60px);
  transition-delay: 0.8s;
}
@media (max-width: 486px){
  .profileMenu>li>a{
   
font-size: 28px;
   }
  
}

