#root {
  height: 100%;
}

:root {
  --main-color: rgba(133, 203, 51, 0.7);
  --green-color: #85cb33;
  --green-color-hover: #7cbd2f;
  --green-color-active: #76b42e;
  --error: #FF3D3D;
  --white-color: #fff;
  --root-font-family: "Montserrat";
  --color-black: #000000;
  --font-size-icon-text: 16px;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.image4registration {
  width: 100%;
  justify-self: center;
  align-self: center;
  max-width: 547px;
}
@media (max-width: 943px) {
  .image4registration {
    display: none;
  }
  .image4signin {
    display: none;
  }
}
.validation {
  color: #c407a8;
  display: block;
  height:20px;
}

.formValidIcon {
  position: absolute;
  right: 30px;
  top: 15px;
  font-size: 1.7rem;
  color: #FF3D3D;
}

.image4signin {
  width: 90%;
justify-self: center;
align-self: center;
max-width: 547px;
margin: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

:root {
  --gray: #555;
  --purple: #4e65ff;
  --green-blue: #92effd;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, var(--purple), var(--green-blue));
}

.navigation {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 120px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  background: var(--white);
  box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: height 0.5s, width 0.5s;
  transition-delay: 0s, 0.75s;
}

.navigation .user-box {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
  transition-delay: 0.5s;
}

.navigation .user-box .username {
  font-size: 1.2rem;
  white-space: nowrap;
  color: var(--gray);
}

.navigation .user-box .image-box {
  position: relative;
  min-width: 60px;
  height: 60px;
  background: var(--white);
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid var(--white);

}

.navigation .user-box .image-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation .menu-toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navigation .menu-toggle::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 2px;
  background: var(--gray);
  transform: translateY(-10px);
  box-shadow: 0 10px var(--gray);
  transition: 0.5s;
}

.navigation .menu-toggle::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 2px;
  background: var(--gray);
  transform: translateY(10px);
  transition: 0.5s;
}

.menu {
  position: absolute;
  width: 100%;
  height: calc(100% - 60px);
  margin-top: 60px;
  padding: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.menu li {
  list-style: none;
}

.menu li a {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
  font-size: 1rem;
  text-decoration: none;
  color: var(--gray);
}

.menu li a ion-icon {
  font-size: 1.5rem;
}

.menu li a:hover {
  color: var(--purple);
}

.navigation.active .menu-toggle::before {
  transform: translateY(0px) rotate(45deg);
  box-shadow: none;
}

.navigation.active .menu-toggle::after {
  transform: translateY(0px) rotate(-45deg);
}

.navigation.active {
  width: 300px;
  height: 350px;
  transition: width 0.5s, height 0.5s;
  transition-delay: 0s, 0.75s;
}

.navigation.active .user-box {
  width: calc(100% - 60px);
  transition-delay: 0s;
}