#form-container {
  display: flex;
 
  flex-direction: column;
  width:300px;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top:100px;
}
.input {
  margin-bottom:20px;
}

span {
  font-family: "Montserrat";
}

body {
  display: block;
  margin: 0px;
  height: 100%;
}

html {
  height: 100%
}

#root {
  height: 100%
}

:root {
  --main-color: rgba(37, 128, 57, 0.7);
  --green-color: #258039;
  --white-color: #fff;
  --root-font-family: "Montserrat";
}