 .loader-3 .dot {
        width: 50px;
        height: 50px;
        background: #85CB33;
        border-radius: 50%;
        position: absolute;
        top: calc(50% - 5px);
    }
    
    .loader-3 .dot1 {
        left: 0px;
        -webkit-animation: dot-jump 0.5s cubic-bezier(0.77, 0.47, 0.64, 0.28) alternate infinite;
        animation: dot-jump 0.5s cubic-bezier(0.77, 0.47, 0.64, 0.28) alternate infinite;
    }
    
    .loader-3 .dot2 {
        left: 54px;
        -webkit-animation: dot-jump 0.5s 0.2s cubic-bezier(0.77, 0.47, 0.64, 0.28) alternate infinite;
        animation: dot-jump 0.5s 0.2s cubic-bezier(0.77, 0.47, 0.64, 0.28) alternate infinite;
    }
    
    .loader-3 .dot3 {
        left: 106px;
        -webkit-animation: dot-jump 0.5s 0.4s cubic-bezier(0.77, 0.47, 0.64, 0.28) alternate infinite;
        animation: dot-jump 0.5s 0.4s cubic-bezier(0.77, 0.47, 0.64, 0.28) alternate infinite;
    }

         @-webkit-keyframes dot-jump {
             0% {
                 -webkit-transform: translateY(0);
                 transform: translateY(0);
             }
    
             100% {
                 -webkit-transform: translateY(-15px);
                 transform: translateY(-15px);
             }
         }
    
         @keyframes dot-jump {
             0% {
                 -webkit-transform: translateY(0);
                 transform: translateY(0);
             }
    
             100% {
                 -webkit-transform: translateY(-15px);
                 transform: translateY(-15px);
             }
         }

                        .loader {
                            position: relative;
                            width: 60px;
                            height: 60px;
                            border-radius: 50%;
                            margin: 75px;
                            display: inline-block;
                            vertical-align: middle;
                        }