* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 30px;
	font-family: sans-serif;
	line-height: 1.5;
}

.form-group-title {
	font-style: 22px;
	font-weight: 700;
	margin-top: 1em;
	margin-bottom: 1em;
}

.form-group + .form-group {
	margin-top: 10px;
}

label {
	cursor: pointer;
}

/* *******************
Select
******************* */

.select {
	/* Растягиваем блок на 100% родительского блока, для правильного размещения кастомной стрелочки */
	width: 100%;

	/* Убираем браузерную стрелку */
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

	/* Задаем свой фон и рамку */
	border: 1px solid #7E9BBD;
	border-radius: 6px;
	background-color: #fff;

	/* Отступы от рамки к тексту */
	padding: 10px 35px 10px 15px;

	/* Убираем баузерную обводку*/
	outline: none;

	cursor: pointer;


	
}

/* Убираем стрелочку в IE 10 и 11 */
.select::-ms-expand {
	display: none;
}

/* По клику - убираем обводку и добавляем свою*/
.select:focus {
	outline: none;
	box-shadow: 0px 0px 0px 1px #38577a, 0px 0px 10px #7e9bbd;
}

/* Делаем .select-wrapper родительским элементом для позиционирования "стрелочки" */
.select-wrapper {
	position: relative;
}

/* Рисуем стрелочку */
.select-wrapper::before {
	content: "";

	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);

	display: block;

	/* Рисуем треугольник */
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10.4px 6px 0 6px;
	border-color: #7e9bbd transparent transparent transparent;

	/* Снимаем клик с треугольника */
	pointer-events: none;
}

/* *******************
Select c dropdown на JS
******************* */

.dropdown {
	position: relative;
}

.dropdown__button {
	position: relative;
	display: block;
	width: 100%;
	text-align: left;

	background: #FFFFFF;
	border: 1px solid #7E9BBD;
	border-radius: 6px;
	height: 46px;

	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 20px;
	padding-right: 35px;

	font-weight: 500;
	font-size: 16px;
	line-height: 20px;

	cursor: pointer;
	box-sizing: border-box;
height:50px;
/* Auto layout */
display: flex;   
  width: 500px;
  max-width: 500px;
  min-width: 320px;
flex-direction: row;
align-items: center;
justify-self: center;
padding: 18px 0px 18px 18px;
gap: 294px;
position: absolute;
/* Акцент 70% */
border: 3px solid rgba(133, 203, 51, 0.7);
border-radius: 20px;


}

.dropdown__button:focus, .dropdown__button--active {
	outline: none;
	box-shadow: 0px 0px 0px 4px rgba(176, 198, 225, 0.6);
}

.dropdown__button::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);

	/* Рисуем треугольник */
    width: 0;
    height: 0;
    border-width: 10.4px 6px 0 6px;
    border-color: #79849B transparent transparent transparent;
	border-style: solid;

	/* Снимаем клик с треугольника */
	pointer-events: none;
}


.dropdown__list {
	display: none;

	position: absolute;
	left: 0;
	top: 52px;

	margin: 0;
	padding: 0;
	list-style-type: none;

	background: #FFFFFF;
	box-shadow: 0px 4px 8px rgba(176, 198, 225, 0.6);
	overflow: hidden;

	border-radius: 6px;
	width: 100%;

	z-index: 1;
	
  width: 500px;
  max-width: 500px;
  min-width: 320px;
flex-direction: row;
align-items: center;
justify-self: center;
padding: 18px 0px 18px 18px;
gap: 294px;
position: absolute;
/* Акцент 70% */
border: 3px solid rgba(133, 203, 51, 0.7);
border-radius: 20px;
}

.dropdown__list--visible {
	display: block;
}

.dropdown__list-item {
	width: 500px;
  max-width: 500px;
  min-width: 320px;

align-items: center;
justify-self: center;
padding: 18px 0px 18px 18px;
gap: 294px;

/* Акцент 70% */

}
.dropdown__list-item:first-child {
	display: none;
}


.dropdown__list-item:hover {
	background: rgba(176, 198, 225, 0.26);
}

.dropdown__input-hidden {
	display: none;
}